@import url("https://fonts.googleapis.com/css?family=Raleway|Lato");
body {
        background-color: #EAEAEA;
        color: #000000;
        font-family: "Lato", sans-serif;
        font-size: 16px;
        margin: 10px;
        overflow: hidden;
        padding: 0;
}

button, input {
        font-family: inherit;
        font-size: 1em;
}

h1, h2, h3, h4, h5 {
        font-family: "Raleway", sans-serif;
        font-weight: lighter;
        text-align: center;
}

h1 {
        font-size: 2.8em;
}

h2 {
        font-size: 2.2em;
}

h3 {
        font-size: 1.4em;
}

h4 {
        font-size: 1.1em;
}

.fileSelector {
        background-color: #FFFFFF;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 5px rgba(0, 0, 0, 0.2);
        color: Blue;
        font-size: auto;
        height: auto;
        margin-bottom: 5px;
        padding: 5px 10px;
        text-align: center;
        transition: all 0.3s ease-in-out;
}

.fileSelector.hidden input {
        display: none;
}

.hidden {
        background-color: transparent;
        background-image: none;
        border-color: transparent;
        box-shadow: 0 0 0;
        display: none;
        font-size: 0;
        height: 0;
        margin: 0;
        padding: 0;
        width: 0;
}

#topics {
        list-style: none;
        margin: 0;
        margin-top: 5px;
        padding: 0;
}

#topics .topic {
        background-color: #F3F3F3;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 5px rgba(0, 0, 0, 0.2);
        color: #000000;
        cursor: default;
        font-size: 1em;
        height: auto;
        left: 0;
        margin: 0;
        margin-bottom: 15px;
        padding: 5px 10px;
        position: relative;
        transition: all 0.3s ease-in-out;
}

#topics .topic.current {
        background-color: #EAEAEA;
        border-color: #999999;
        color: #000000;
        cursor: pointer;
}

#topics .topic.current:last-child {
        cursor: default;
}

#topics li:first-child, #topics li:last-child {
        animation: slideLeft 0.5s forwards;
}

#topics #noTopics {
        background-color: LightBlue;
        border: 1px solid #109EFF;
        color: Blue;
        font-family: "Raleway", sans-serif;
        text-align: center;
}

#topics #noTopics.hidden {
        border: 0;
}

@keyframes slideLeft {
        0% {
                left: 100%;
        }
        100% {
                left: 0;
        }
}

@keyframes grow {
        0% {
                font-size: 0em;
                height: 0em;
                left: 100%;
                line-height: 0em;
                margin-bottom: 0px;
                opacity: 0;
                padding: 0;
        }
        100% {
                font-size: auto;
                height: auto;
                left: 0%;
                margin-bottom: 4px;
                opacity: 1;
                padding: auto;
        }
}